.r-container{
  overflow: hidden;
}
.r-head{
  margin-bottom: 2rem;
}

.r-card{
  gap: 0.6rem;
  max-width: max-content;
  padding: 1rem;
  border-radius: 10px;
  margin: auto;
  transition: all 300ms ease-in;
}
.r-card>img{
  width: 100%;
  max-width: 15rem;

}
.r-card>:nth-child(2){
  font-size: 1.2rem;
  font-weight: 600;
}
.r-card>:nth-child(3){
  font-size: 1.4rem;
}
.r-card>:nth-child(4){
  font-size: 0.7rem;
  width: 15rem;
}
.r-card:hover{
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(145deg, rgba(57,233,145,0.03267244397759106) 29%, rgba(75,207,141,0.1643251050420168) 51%, rgba(29,193,111,0.20354079131652658) 75%);
  box-shadow: 0px 72px 49px -51px  rgba(75,207,141,0.1643251050420168);
}
/* .swiper-horizontal{
  overflow: visible;
} */
